#footer{
    width:1024px;
    margin:0 auto;
    padding:22px 18px;
    box-sizing:border-box;
    display:block;
}
#footer .logo{
    float:left;
    margin:0 75px 0 0;
}
.columns {
    overflow:hidden;
    padding:7px 0 0;
}
.columns .column {
    float:left;
    max-width:160px;
    margin:0 23px 0 0;
}
.columns .title {
    display:block;
    margin:0 0 18px;
}
.columns ul {
    list-style: none;
    margin:0;
    padding:0 0 0 15px;
    font-size:14px;
    line-height:13px;
}
.columns ul li {
    margin:0 0 5px;
    display:list-item;
    text-align:-webkit-match-parent;
}
.columns ul a {
    color:#000;
    font-size:12px;
}
.columns ul a:hover {
    text-decoration:underline;
}