
/* VARAUSKALENTERI */
#varaus_container{
    position:relative;
    float:right;
    width:280px;
    background-color:#fff;
    box-sizing:border-box;
    margin:20px 0 20px 0;
    padding:0;
    border:1px solid #999;
    text-align:center;
}
#varaus_container h3{
    margin-top:10px;
    margin-bottom:10px;
    color:#0089cd;
    text-align:center;
}
#varaus_container h4{
    margin-top:10px;
    margin-bottom:10px;
    color:#0089cd;
    text-align:center;
}
#kalenteri_container{
    width:100%;
    min-height:250px;
    margin:0;
    padding:0
}
#varaus_kellonajat{
    width:238px;
    text-align:center;
    padding:3px;
    box-sizing:border-box;
    margin:0 auto;
}
div#kalenteri{
    margin:0px auto;
    padding:0px;
    width:238px;
}
div#kalenteri div.box{
    position:relative;
    width:100%;
    height:25px;
    background-color:#01abff;
}
div#kalenteri div.header{
    width:100%;
    position:relative;
    line-height:25px;
    vertical-align:middle;
    width:238px;
    height:25px;
    text-align:center;
    font-size:14px;
    color:#fff;
}
div#kalenteri div.header a.edellinen, div#kalenteri div.header a.seuraava{
    position:absolute;
    display:inline-block;
    cursor:pointer;
    text-decoration:none;
    margin:0;
    padding:0;
    color:#fff;
    font-size:16px;
    font-weight:bold;
}
div#kalenteri div.header a.edellinen:hover, div#kalenteri div.header a.seuraava:hover{
    color:#0089cd;
}
div#kalenteri div.header a.edellinen{
    left:6px;
}
div#kalenteri div.header a.seuraava{
    right:6px;
}
div#kalenteri div.box-content{
    border:1px solid #999;
    border-top:none;
}
div#kalenteri ul.label{
    float:left;
    margin: 0px;
    padding: 0px;
    margin-top:5px;
    margin-left: 5px;
}
div#kalenteri ul.label li{
    margin:0px;
    padding:0px;
    margin-right:3px;
    float:left;
    list-style-type:none;
    width:30px;
    height:20px;
    line-height:20px;
    vertical-align:middle;
    text-align:center;
    color:#000;
    font-size:15px;
    background-color:transparent;
    display:inline-block;
}
div#kalenteri ul.paivat{
    float:left;
    margin: 0px;
    padding: 0px;
    margin-left: 5px;
    margin-bottom: 5px;
}
div#kalenteri ul.paivat li{
    position:relative;
    box-sizing: border-box;
    margin:3px 3px 0 0;
    float:left;
    list-style-type:none;
    width:30px;
    height:30px;
    font-size:14px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -ms-border-radius:3px;
    -o-border-radius:3px;
    border-radius:3px;
    background: #38c400;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(1, #a0e900), color-stop(0, #38c400) );
    background: -webkit-linear-gradient(#a0e900, #38c400);
    background: -moz-linear-gradient(#a0e900, #38c400);
    background: -ms-linear-gradient(#a0e900, #38c400);
    background: -o-linear-gradient(#a0e900, #38c400);
    background: linear-gradient(#a0e900, #38c400);
    color:#fff;
    line-height:30px;
    text-align:center;
}
div#kalenteri ul.paivat li.mask{
    background:#f0f0f1;
    background:-webkit-gradient(linear, left bottom, left top, color-stop(1, #f0f0f1), color-stop(0, #d5d6d9) );
    background:-webkit-linear-gradient(#f0f0f1, #d5d6d9);
    background:-moz-linear-gradient(#f0f0f1, #d5d6d9);
    background:-ms-linear-gradient(#f0f0f1, #d5d6d9);
    background:-o-linear-gradient(#f0f0f1, #d5d6d9);
    background:linear-gradient(#f0f0f1, #d5d6d9);
}
div#kalenteri ul.paivat li.nykyinen{
    color:#0089cd;
    border:1px solid #0089cd;
}
div#kalenteri ul.paivat li.varattu{
    background: #ffff33;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(1, #ff4901), color-stop(0, #cc3300) );
    background: -webkit-linear-gradient(#ff4901, #cc3300);
    background: -moz-linear-gradient(#ff4901, #cc3300);
    background: -ms-linear-gradient(#ff4901, #cc3300);
    background: -o-linear-gradient(#ff4901, #cc3300);
    background: linear-gradient(#ff4901, #cc3300);
    color:#fff;
}
div#kalenteri ul.paivat li.vapaita{
    background: #ffff33;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(1, #ffff33), color-stop(0, #cccc00) );
    background: -webkit-linear-gradient(#ffff33, #cccc00);
    background: -moz-linear-gradient(#ffff33, #cccc00);
    background: -ms-linear-gradient(#ffff33, #cccc00);
    background: -o-linear-gradient(#ffff33, #cccc00);
    background: linear-gradient(#ffff33, #cccc00);
    color:#996600;
}
div#kalenteri ul.paivat li.paiva:hover{
    opacity: 0.8; 
    filter: alpha(opacity=80); 
    cursor:pointer;
}
:focus{
    outline:none;
}
div.tyhja{
    clear:both;
}
.kellolista .ui-selecting { 
    background:#0089cd; 
}
.kellolista .ui-selected { 
    background:#01abff; 
    color:white; 
}
.kellolista { 
    list-style-type:none; 
    margin:0 0 15px 0;
    padding:0; 
    width:100%; 
    -moz-column-count:2;
    -moz-column-gap:10px;
    -webkit-column-count:2;
    -webkit-column-gap:10px;
    column-count:2;
    column-gap:10px;
}
.kellolista li {
    margin:3px;
    padding:3px 2px;
    height:20px; 
    line-height: 20px;
    font-size:15px;
    background:green;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -ms-border-radius:4px;
    -o-border-radius:4px;
    border-radius:4px;
    background: #38c400;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(1, #a0e900), color-stop(0, #38c400) );
    background: -webkit-linear-gradient(#a0e900, #38c400);
    background: -moz-linear-gradient(#a0e900, #38c400);
    background: -ms-linear-gradient(#a0e900, #38c400);
    background: -o-linear-gradient(#a0e900, #38c400);
    background: linear-gradient(#a0e900, #38c400);
    color: #fff;
    display: block;
    margin-bottom: 1px;
    width: 105px;
    cursor:pointer;
}
.kellolista li.varattu{
    background:#f0f0f1;
    background:-webkit-gradient(linear, left bottom, left top, color-stop(1, #f0f0f1), color-stop(0, #d5d6d9) );
    background:-webkit-linear-gradient(#f0f0f1, #d5d6d9);
    background:-moz-linear-gradient(#f0f0f1, #d5d6d9);
    background:-ms-linear-gradient(#f0f0f1, #d5d6d9);
    background:-o-linear-gradient(#f0f0f1, #d5d6d9);
    background:linear-gradient(#f0f0f1, #d5d6d9);
    color:#6c7f8f;
    cursor: default;
}
.kellolista li.vapaa:hover{
    opacity: 0.8; 
    filter: alpha(opacity=80);
}
#valitut_kellonajat{
    text-align:center;
}
#valitut_kellonajat p{
    margin-top:5px;
}