@import url("header.css");
@import url("footer.css");
@import url("kalenteri.css");
html,body{
    height:100%;
    width:100%;
    margin:0;
    padding:0;
    font-family:'Open Sans', sans-serif;
    background-color:#e4e4e4;
}
#wrapper{
    width:100%;
    height:100%;
    display:block;
}
#container{
    position:relative;
    width:1024px;
    min-height:100%;
    background-color:#fff;
    margin:0 auto;
    -webkit-box-shadow: 0px 0px 2px 1px #999;
       -moz-box-shadow: 0px 0px 2px 1px #999;
            box-shadow: 0px 0px 2px 1px #999;
}
#palsta{
    position:relative;
    clear:both;
    display:block;
    width:calc(100% - 20px);
    margin:0 auto;
    padding:10px 10px 50px 10px;
    box-sizing:border-box;
}
#tilalista{
    border:none;
}
#tilalista td{
    padding:1px 20px;
}
.tilataulu{
    border:none;
    border-collapse:collapse;
}
.tilataulu td{
    text-align:right;
    padding:6px 3px;
}
#asiakaslista{
    width:100%;
    margin:10px 0;
    border-collapse:collapse;
}
#asiakaslista td, #asiakaslista th{
    padding:2px 20px;
    border:1px solid #0089cd;
    text-align:center;
}
a{
    text-decoration:none;
    color:#0089cd;
}
a:hover{
    text-decoration:underline;
}

/* TILAN ESITTELY */
#kuvaus{
    position:relative;
    float:left;
    min-height:300px;
    width:calc(100% - 290px);
    margin-bottom:10px;
}
input[type="submit"], .linkkinappi{
    padding:6px 10px;
    font-size:15px;
    border:1px solid #999;
    background-color:#fff;
    color:#000;
    cursor:pointer;
}
input[type="submit"]:hover, .linkkinappi:hover{
    color:#0089cd;
    border:1px solid #0089cd;
}

#kuvaus input[type="text"]{
    font-size:15px;
}
#kuvat_container{
    position:relative;
    clear:both;
    min-height:166px;
    width:100%;
    background-color:#fff;
    margin-top:30px;
    margin-bottom:30px;
    box-sizing:border-box;
}
#kuvat_container #tilakuvat{
    list-style:none;
    margin:0;
    padding:0;
}
#kuvat_container #tilakuvat li{
    float:left;
    position:relative;
    margin:5px;
    padding:8px;
    background:#fff;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
}
#kuvat_container #tilakuvat li img{
    height:150px;
    width:auto;
}
#kuvat_container #tilakuvat li a, #kuvat_container #tilakuvat li a img{
	position:relative;
	display:block;
}
.hoverefekti{
    height:100%;
    width:100%;
    background:url(../kuvat/ulkoasu/suurennuslasi.png) center center no-repeat #000;
    position:absolute;
    left:0;
    top:0;
    opacity:0;
    filter:alpha(opacity=0);
    z-index:99;
    -webkit-box-shadow:0px 0px 4px #000;
       -moz-box-shadow:0px 0px 4px #000;
            box-shadow:0px 0px 4px #000;
}

/* KIRJAUTUMISSIVU */
#loginpalsta{
    width:500px;
    margin:0 auto;
    text-align:center;
    box-sizing:border-box;
}
#loginpalsta input[type="text"], #loginpalsta input[type="password"]{
    font-size:15px;
    width:250px;
}
#loginpalsta input[type="submit"]{
    padding:4px 6px;
    font-size:15px;
    border:1px solid #000;
    background-color:#fff;
    cursor:pointer;
}
#loginpalsta input[type="submit"]:hover{
    color:#0089cd;
    border:1px solid #0089cd;
}

/* TILANAVIGAATIO */
#valikko_container {
    height:160px;
    line-height:160px;
    overflow: hidden;
}
#valikko_container ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 50px;
}
#valikko_container ul li {
    float: left;
    width: 160px;
    height: 100%;
    margin: 0 1px 0 0;
    padding: 0;
    background: #333;
    color: #ddd;
    text-align: center;
    cursor: pointer;
    font-size:12px;
}
#valikko_container ul li.active {
    color:#fff;
    background:#0089cd;
}
.scrollbar {
    margin:15px 0;
    height:2px;
    background:#ccc;
    line-height:0;
}
.scrollbar .handle {
    width: 50px;
    height: 100%;
    background: #292a33;
    cursor: pointer;
}
.scrollbar .handle .mousearea {
    position: absolute;
    top: -9px;
    left: 0;
    width: 100%;
    height: 20px;
}
#valikko_container {
    -webkit-perspective: 1000px;
    -ms-perspective: 1000px;
    perspective: 1000px;
    -webkit-perspective-origin: 50% 50%;
    -ms-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%;
    overflow-y: show;
}
#valikko_container ul {
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
#valikko_container ul li {
    position: relative;
    margin: 0 -20px;
    -webkit-transform: rotateY(60deg) scale(0.9);
    -ms-transform: rotateY(60deg) scale(0.9);
    transform: rotateY(60deg) scale(0.9);
    -webkit-transition: -webkit-transform 300ms ease-out;
    transition: transform 300ms ease-out;
}
#valikko_container ul li.active {
    z-index: 10;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
#valikko_container ul li.active ~ li {
    -webkit-transform: rotateY(-60deg) scale(0.9);
    -ms-transform: rotateY(-60deg) scale(0.9);
    transform: rotateY(-60deg) scale(0.9);
}
#valikko_container ul li.active a{
    color:#fff;
}
.datepicker{
    width:100px;
}
#varaus_vaiheet{
    width:100%;
    height:35px;
    line-height:35px;
    text-align:center;
    box-sizing:border-box;
    color:#999;
    margin-bottom:10px;
}
#varaus_vaiheet span.nykyinen{
    color:#0089cd;
}
#yhteenveto{
    width:100%;
    height:200px;
    border:1px solid #000;
}
.varaustaulu tr td{
    padding:5px 10px;
    vertical-align:top;
}
.varaustaulu tr td.vasen{
    text-align:right;
}
.varaustaulu tr td.oikea{
    text-align:left;
}
.varaustaulu tr td.oikea input[type="text"]{
    width:200px;
}
.varaustaulu tr td.oikea input[type="number"]{
    width:40px;
    margin-right:10px;
}